@charset "utf-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
/* CSS Document */

/* Color */
.co-spotlight {
	background-color: #8A140E;
}

.co-light {
	background-color: #B9E5F3;
}

.co-orginal {
	background-color: #53C0F0;
}

.co-orginal-dark {
	color: #fff;
	background-color: #052B3C;
}

.co-drak {
	background-color: #51A2D9;
}

.co-white {
	background-color: #E0E8F0;
}

.co-background {
	width: 100%;
	background-image: url('/resources/pic/bg.png');  /*??????*/
}

.co-transparent {
	background: rgb(255, 255, 255) none repeat scroll 0 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.298), 0 0 40px rgba(0, 0, 0, 0.098) inset;
    margin: 10px auto;
    padding: 1.5em;
}

.font-ch {
	font-family: 'Noto Sans TC', sans-serif;
}

/* The checkarea */
.checkarea {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkarea input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkarea:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkarea input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkarea input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkarea .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Create a custom radio button */
.checkradio {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.checkarea:hover input ~ .checkradio {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.checkarea input:checked ~ .checkradio {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkradio:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.checkarea input:checked ~ .checkradio:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.checkarea .checkradio:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

/* For dispaly hidden */
.hiddenArea {
	display: none;
}

.showArea {
	display: block;
}

.fineTuneInput {
	padding-left: 5%;
}

.fineTuneTopInput {
	margin: 5px 0px;
}

.mainHeader {
	position: sticky;
    top: 0px;
    z-index: 999;
}

.main {
	padding-top: 30px;
	padding-bottom: 50px;
	min-height: 100%;
}

.footerArea {
	box-sizing: border-box;
    position: fixed;
    bottom: 0;
}